$error-color: #e76f51;
$focus-color: #e9c46a;
$immutable-color: #2a9d8f;
$highlight-color: #f4e1b5;

div.Square {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  span {
    font-size: 1.5rem;
    color: $immutable-color;
  }
  span.error {
    color: $error-color;
  }
  input {
    cursor: default;
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    background-color: transparent;
    caret-color: transparent;
  }
  input.error {
    background-color: $error-color;
  }
  input:focus {
    background-color: $focus-color;
  }
  input.error:focus {
    color: $error-color;
  }
}

.highlight {
  background-color: $highlight-color !important;
}

@media only screen and (max-width: 350px) {
  div.Square {
    input,
    span {
      font-size: 1rem;
    }
  }
}
